body {
    background-color: white;
}

.h {
    background-color: palevioletred;
    height: 140px;

}

.first {
    text-align: center;
    font-family: "Georgia", serif;
    color: white;
    font-size: 70px;
    background-color: rgb(218, 44, 102);
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10px;
    width: 40%;
    display: inline-grid;
}


img#pic {
    margin-top: 200px;
    margin-bottom: 0px;
    float: left;
    background-color: white;
    width: 30%;
}

img#pic1 {
    
    float: left;
    background-color: white;
    width: 30%;
}

.next {
    font-family: "Georgia", serif;
    color: black;
    font-size: 20px;
    width: 390px;
    float: right;
    background-color: rgb(129, 231, 116);
    display: inline-right;
    margin-right: 35px;
    margin-bottom: 30px;
    margin-top: 60px;
    height: 1040px;
}

.center {
    float: top;
    font-family: "Georgia", serif;
    color: black;
    font-size: 20px;
    width: 390px;
    background-color: rgb(129, 231, 116);
    display: inline-grid;
    margin-left: 50px;
    margin-top: 60px;
    margin-bottom: 0px;

}

.center1 {
    float: top;
    display: flex;
    font-family: "Georgia", serif;
    color: black;
    font-size: 20px;
    width: 390px;
    background-color: pink;
    margin-left: 450px;
    margin-bottom: 30px;
    margin-top: 0px;
}

.last {
    float: inline-end;
    background-color: plum;
    height: 100px;
    text-align: center;
    font-family: "Georgia", serif;
    color: black;
    font-size: 20px;
    padding-top: 80px;
}